<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/style.css">
</head>

<body>
  <div class="container">
    <div class="textbox">
      <form action="/user/data" method="post">
        <textarea name="message" placeholder="Type your message here..."></textarea>
        <button type="submit">Review</button>
      </form>
    </div>
    <div id="output">
      <%= op%>
    </div>
  </div>

</body>

</html>